<!DOCTYPE html>
<html>
    <body>
        <ul>
            {% for image in images %}
            <li>
                <div class="flip-container"
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-power bg-blue2"></i>
                            <a href="static/images/{{image}}">{{image}}</em>
                        </div>
                        
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
                </div>
    </body>
</html>
