<head>
		<title>Folio Generator</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style></style>
		
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename = 'jquery.memegenerator.min.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'jquery.memegenerator.min.css') }}">
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<style>
		 h2 {
		     display: block;
		     text-align: center;
		 }
		 
		 .example {
		     margin: 0 0 10% 0;
		 }
		 
		 .bootstrap {
		     width: 600px;
		     margin-right: auto;
		     margin-left: auto;
		 }
		 
		 .save button {
		     display: block;
		     width: 100%;
		     margin-bottom: 15px;
		     font-size: 24px;
		 }
		 
		 #preview {
		     min-height: 200px;
		     background-color: #EFEFEF;
		 }
		 #preview img {
		     max-width: 100%;
		 }
		</style>
	        <head>
                    <body>

			<h2>Using bootstrap styling and fixed width (image is scaled)</h2>
			<div class="mg-wrapper usingBootstrap">
                            <div class="mg-image">
                                <img src="http://pictuploader.traquenard.net/assets/products/167/original/A-1pdAeCklVAyZi5k6PB5hR-qFJn7VOsNN7y7aKz_rw.jpg" id="meme"
                                <canvas width="600" height="399.75" data-text-lines="1"></canvas><canvas width="600" height="399.75" data-text-lines="1"></canvas>>
                                
		                <!-- 
                                     <img src="http://pictuploader.traquenard.net/assets/products/167/original/A-1pdAeCklVAyZi5k6PB5hR-qFJn7VOsNN7y7aKz_rw.jpg" id="meme"> -->
<a href="#" id="save">
 
<script type="text/javascript">
$("#save").click(function(e){
    e.preventDefault();
    
    var imageDataUrl = $("#example-save").memeGenerator("save");
    
    $.ajax({
        url: "/save-img",
        type: "POST",
        data: {image: imageDataUrl},
        dataType: "json",
        success: function(response){
            $("#preview").html(
                $("<img>").attr("src", response.filename)
            );
        }
    });
});
</script>
<script>
$(document).ready(function(){
    $("#meme").memeGenerator();
});
</script>
