<head>
    <title>Folio Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style></style>
    
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'meme.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'meme.css') }}">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <style class="cp-pen-styles">/*IMPORTS*/
     @import "https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,400i,500|Lobster:400|Source+Code+Pro:400";
     /*MAIN*/
     html,
     body {
         margin: 0px;
         padding: 0px;
     }

     body {
         padding: 45px;
     }

     * {
         box-sizing: border-box;
         font-family: 'Folio';
         font-weight: 400;
         color: dimgrey;
     }

     /*HEADERS AND TEXT*/
     h1,
     h2,
     h3 {
         margin: 15px 0;
         font-family: 'Open Sans';
         font-weight: 300;
     }

     h1 {
         font-weight: 400;
         font-family: 'Baskerville';
         font-size: 45px;
         letter-spacing: 3px;
         color: crimson;
         border-bottom: 1px dashed crimson;
     }

     h2 {
         font-size: 30px;
         letter-spacing: 2px;
     }

     h3 {
         font-size: 25px;
         letter-spacing: 1px;
     }

     p {
         margin: 10px 0;
         color: dimgrey;
     }

     span {
         color: dimgrey;
     }

     code {
         font-family: 'Source Code Pro';
         color: black;
         background: #ededed;
         padding: 0px 5px 0px 5px;
     }

     pre {
         padding: 5px;
         overflow: auto;
         background: #ededed;
     }
     pre code {
         padding: 0px;
     }

     img {
         width: auto;
         max-width: 100%;
         max-height: 500px;
         display: block;
         margin: 1em auto;
     }

     /*INPUT METHODS*/
     button,
     .btn {
         padding: 15px;
         margin: 0 10px 10px 0;
         display: inline-block;
         border: 0px solid dimgrey;
         background: dimgrey;
         color: whitesmoke;
         outline: none;
         transition: all 0.25s, transform 0.1s;
     }
     button:hover,
     .btn:hover {
         background: crimson;
         color: whitesmoke;
     }
     button:active,
     .btn:active {
         background: crimson;
         transform: scale(0.8);
     }

     input[type='text'], input[type='number'], select {
         padding: 15px;
         margin: 0 10px 10px 0px;
         border: 0px solid dimgrey;
         background: dimgrey;
         color: whitesmoke;
         outline: none;
         transition: all 0.25s;
     }
     input[type='text']:hover, input[type='number']:hover, select:hover {
         background: grey;
     }
     input[type='text']:focus, input[type='number']:focus, select:focus {
         background: crimson;
         color: whitesmoke;
     }
     input[type='text']:focus::-webkit-input-placeholder, input[type='number']:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
         color: whitesmoke;
     }
     input[type='text']:focus::-moz-placeholder, input[type='number']:focus::-moz-placeholder, select:focus::-moz-placeholder {
         color: whitesmoke;
     }
     input[type='text']:focus:-ms-input-placeholder, input[type='number']:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
         color: whitesmoke;
     }
     input[type='text']:focus:-moz-placeholder, input[type='number']:focus:-moz-placeholder, select:focus:-moz-placeholder {
         color: whitesmoke;
     }

     a {
         box-sizing: border-box;
         color: crimson;
         text-decoration: none;
         font-weight: 500;
     }
     a:hover {
         text-decoration: underline;
     }

     /*MISC*/
     .inline {
         display: inline-block;
     }

     .block {
         display: block;
     }

     .hidden {
         display: none;
     }

     /*SCROLLBAR*/
     ::-webkit-scrollbar {
         width: 8px;
         height: 8px;
     }
     ::-webkit-scrollbar-button {
         width: 0px;
         height: 0px;
     }
     ::-webkit-scrollbar-thumb {
         background: crimson;
         border-radius: 0px;
     }
     ::-webkit-scrollbar-thumb:hover {
         background: #d31339;
     }
     ::-webkit-scrollbar-thumb:active {
         box-shadow: inset 0px 0px 5px #67091c;
     }
     ::-webkit-scrollbar-track {
         background: lightgrey;
         border: 0px none darkgrey;
         border-radius: 0px;
         box-shadow: inset 0px 0px 5px dimgrey;
     }
     ::-webkit-scrollbar-track:hover {
         background: lightgrey;
     }
     ::-webkit-scrollbar-track:active {
         box-shadow: inset 0px 0px 8px dimgrey;
     }
     ::-webkit-scrollbar-corner {
         background: transparent;
     }

     /*RANGE*/
     input[type=range] {
         -webkit-appearance: none;
         width: 100%;
         margin: 6px 0;
     }

     input[type=range]:focus {
         outline: none;
     }

     input[type=range]::-webkit-slider-runnable-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
         background: #dc143c;
         border-radius: 20.1px;
         border: 0px solid #ffffff;
     }

     input[type=range]::-webkit-slider-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
         -webkit-appearance: none;
         margin-top: -6px;
     }

     input[type=range]:focus::-webkit-slider-runnable-track {
         background: #dc143c;
     }

     input[type=range]::-moz-range-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
         background: #dc143c;
         border-radius: 20.1px;
         border: 0px solid #ffffff;
     }

     input[type=range]::-moz-range-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
     }

     input[type=range]::-ms-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         background: transparent;
         border-color: transparent;
         color: transparent;
     }

     input[type=range]::-ms-fill-lower {
         background: #dc143c;
         border: 0px solid #ffffff;
         border-radius: 40.2px;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     }

     input[type=range]::-ms-fill-upper {
         background: #dc143c;
         border: 0px solid #ffffff;
         border-radius: 40.2px;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     }

     input[type=range]::-ms-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
         height: 8px;
     }

     input[type=range]:focus::-ms-fill-lower {
         background: #dc143c;
     }

     input[type=range]:focus::-ms-fill-upper {
         background: #dc143c;
     }

     input[type=range] {
         -webkit-appearance: none;
         width: 100%;
         margin: 6px 0;
     }

     input[type=range]:focus {
         outline: none;
     }

     input[type=range]::-webkit-slider-runnable-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
         background: #dc143c;
         border-radius: 20.1px;
         border: 0px solid #ffffff;
     }

     input[type=range]::-webkit-slider-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
         -webkit-appearance: none;
         margin-top: -6px;
     }

     input[type=range]:focus::-webkit-slider-runnable-track {
         background: #dc143c;
     }

     input[type=range]::-moz-range-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
         background: #dc143c;
         border-radius: 20.1px;
         border: 0px solid #ffffff;
     }

     input[type=range]::-moz-range-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
     }

     input[type=range]::-ms-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         background: transparent;
         border-color: transparent;
         color: transparent;
     }

     input[type=range]::-ms-fill-lower {
         background: #dc143c;
         border: 0px solid #ffffff;
         border-radius: 40.2px;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     }

     input[type=range]::-ms-fill-upper {
         background: #dc143c;
         border: 0px solid #ffffff;
         border-radius: 40.2px;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     }

     input[type=range]::-ms-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
         height: 8px;
     }

     input[type=range]:focus::-ms-fill-lower {
         background: #dc143c;
     }

     input[type=range]:focus::-ms-fill-upper {
         background: #dc143c;
     }

     input[type=range] {
         -webkit-appearance: none;
         width: 100%;
         margin: 6px 0;
     }

     input[type=range]:focus {
         outline: none;
     }

     input[type=range]::-webkit-slider-runnable-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
         background: #dc143c;
         border-radius: 20.1px;
         border: 0px solid #ffffff;
     }

     input[type=range]::-webkit-slider-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
         -webkit-appearance: none;
         margin-top: -6px;
     }

     input[type=range]:focus::-webkit-slider-runnable-track {
         background: #dc143c;
     }

     input[type=range]::-moz-range-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
         background: #dc143c;
         border-radius: 20.1px;
         border: 0px solid #ffffff;
     }

     input[type=range]::-moz-range-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
     }

     input[type=range]::-ms-track {
         width: 100%;
         height: 8px;
         cursor: pointer;
         background: transparent;
         border-color: transparent;
         color: transparent;
     }

     input[type=range]::-ms-fill-lower {
         background: #dc143c;
         border: 0px solid #ffffff;
         border-radius: 40.2px;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     }

     input[type=range]::-ms-fill-upper {
         background: #dc143c;
         border: 0px solid #ffffff;
         border-radius: 40.2px;
         box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     }

     input[type=range]::-ms-thumb {
         box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
         height: 20px;
         width: 20px;
         border-radius: 20px;
         background: #696969;
         cursor: pointer;
         height: 8px;
     }

     input[type=range]:focus::-ms-fill-lower {
         background: #dc143c;
     }

     input[type=range]:focus::-ms-fill-upper {
         background: #dc143c;
     }

     /*LAYOUT*/
     .box {
         display: block;
         width: 100%;
     }
     .box::after {
         visibility: hidden;
         display: block;
         font-size: 0;
         content: '';
         clear: both;
         height: 0;
     }
     .box > div {
         display: inline-block;
         width: 50%;
         overflow: auto;
         float: left;
     }
     .box > div:nth-child(odd) {
         padding-right: .5em;
     }
     .box > div:nth-child(even) {
         padding-left: .5em;
     }

     /*MEDIA*/
     @media only screen and (max-width: 720px) {
         body {
             padding: 15px;
         }

         .box > div {
             display: block;
             width: 100%;
             padding: 0 0 !important;
             float: none;
         }
     }
     .fullwidth {
         width: 100%;
         max-width: 500px;
         max-height: 800px;
     }

     #imgFile {
         display: none;
     }

     input[type='text'], input[type='range'] {
         width: 100%;
     }

     h3 > i.fa {
         margin-right: .2em;
     }
     #preview {
	 min-height: 200px;
	 background-color: #EFEFEF;
     }
     #preview img {
	 max-width: 100%;
     }
    </style>
</head>
<body>

                    <h1>Folio Generator</h1>

<div class="box">
    <div>
        <div id="canvasWrapper">
        </div>
    </div>

    <div>
        <h3><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>Source Image</h3>
        <div class="box">
            <div>
                <p>From URL</p>
                <input id="imgURL" class="block" type="text" placeholder="Link to image" />

            </div>
            <div>
                <p>From Local Disk</p>
                <input id="imgFile" type="file" accept="image/*"/>
                <label for="imgFile" class="btn"><i class="fa fa-upload fa-fw"></i></label>
            </div>
        </div>


        
        <h3><i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>Folio Text</h3>
        <div class="box">
            <div>
                <p>Autor name</p>
                <input id="textTop" type="text" class="block" placeholder="Top text" />
            </div>
            <div>
                <p>Title</p>
                <input id="textBottom" type="text" class="block" placeholder="Bottom text" />
            </div>
        </div>

        
        <h3><i class="fa fa-text-height fa-fw" aria-hidden="true"></i>Text Size</h3>
        <div class="box">
            <div>
                <p>Autor Name: <span id="textSizeTopOut">10</span></p>
                <input id="textSizeTop" type="range" min="2" max="50" step="2" />
            </div>
            <div>
                <p>Title: <span id="textSizeBottomOut">10</span></p>
                <input id="textSizeBottom" type="range" min="2" max="50" step="2" />
            </div>
        </div>

        
        

        <div class="box">
            <div>
                <h3><i class="fa fa-eye fa-fw" aria-hidden="true"></i>White picture</h3>
                <input id="dark" type="checkbox"/>
                <label for="dark"><span>White</span></label>
            </div>
            
            
            <div>
                <h3><i class="fa fa-download fa-fw" aria-hidden="true"></i>Export</h3>
                <p>If the button doesn't work, right-click the image and save it</p>
                <p>If you are one mobile, download the source image and directly upload it</p>
                <button id="save">Save!</button>
            </div>

        </div>
        

        <div class="box">
        <span>Loosely based on <a href="https://codepen.io/ninivert/pen/BpLKRx">https://codepen.io/ninivert/pen/BpLKR</a></span>
    </div>
</div>
</div>

</body>
