<head>
    <title>Folio Generator</title>

    <style>
   
     #preview {
	 min-height: 200px;
	 background-color: #EFEFEF;
         text-align:center;
     }
     #preview img {
	 max-width: 100%;
         background-color: white;
         box-shadow: 8px 8px 12px #aaa;
     }
    </style>
    <head>
        <body>
            <div id="preview">
                <img src="/static/images/{{image}}">
            </div>
        </body>
